*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/*
------------------
Header
------------------
*/

.headwrap{
    background-color: #0F1624;
}
.headflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 127px;
    margin-left: 37px;
    margin-right: 37px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.logo img{
    padding-right: 10px; 
    width: 40px;
}
.nuoro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 24px;
}
.nuoro a{
    text-decoration: none;
    position: relative;
}
.nuoro a::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;  
}

.nuoro a:hover::after{
    background: rgb(19,173,199);
    background: linear-gradient(60deg, rgba(19,173,199,1) 0%, rgba(105,120,209,1) 47%, rgba(0,212,255,1) 91%);
}
.socnav{
    display: flex;
    gap: 30px;
}
.whit{
    background-color: white;
    padding: 2px 3px 0 2px;
}
/*
-----------------
Hero
-----------------
*/

.herowrap{
    background-color: #0F1624;
}
.siena{
    display: flex;
    margin: 0 5% 0 5%;
    min-height: 600px;
}
.erzina{
    position: absolute;
    right: 0;
    width: 600px;
}
.hero{
    display: flex;
    align-items: center;
}
.herotxt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 800px;
    margin-left: 5%;
}
.herotxt h1{
    font-size: 55px;
}
.herotxt p{
    font-size: 30px;
}
.herotxt a{
    text-decoration: none;
    width: 200px;
    line-height: 50px;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    
}

.secwrap{
    background-color: #0F1624;
}
.pro{
    margin-left: 80px;
    font-size: 55px;
    padding: 20px 0;
}


.pro1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap-reverse;
    border: 1px solid;
    border-radius: 40px 0 40px 0;
    margin: 100px 37px 0 37px;
    box-shadow: 0px 0px 12px #FFFFFF;
}
.pro1txt{
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
}
.pro1txt p{
    margin-left: 5%;
}
.pro1img{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.pro1 img{
    max-width: 90%;
    margin: 20px 0 20px 0;
}
.pro1txta{
    position: relative;
    text-decoration: none;
    font-size: 36px;
}
.pro1txta::after{
    background-color: transparent;
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
}
.pro1txta:hover:after{
    background: rgb(19,173,199);
    background: linear-gradient(60deg, rgba(19,173,199,1) 0%, rgba(105,209,199,1) 49%, rgba(0,212,255,1) 97%);
}
.look{
    text-decoration: none;
    width: 200px;
    line-height: 50px;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}
.look:hover{
    background: rgb(19,173,199);
    background: linear-gradient(60deg, rgba(19,173,199,1) 0%, rgba(12,170,30,1) 51%, rgba(0,212,255,1) 89%);
}
.pro1txt p{
    font-size: 28px;
    line-height: 42px;
}

.pro23{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 37px 20px 37px;
}

.pro2, .pro3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    flex-basis: 530px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-radius: 40px 0 40px 0;
    box-shadow: 0px 0px 12px #FFFFFF;
}
.pro2 img{
    width: 90%;
    margin-top: 20px;
}
.pro3 img{
    width: 90%;
    margin-top: 20px;
}
.pro23 .look{
    margin-bottom: 20px;
}
.pro23 p{
    margin-left: 20px;
    font-size: 30px;
    line-height: 40px;
}